.main-page{
    display:flex;
}
.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(180deg,#46b071,#38b438) ;
    
}

.main-page > {
    font-size:x-large;
}

.login-img{
    width: 200px;
    height: 200px; 
}

.login > a{
    padding: 15px;
    border-radius: 99px;
    background-color: black;
    font-weight: 800;
    color:#eaf6ed;
    text-decoration: none;
}
.musify{
    font-family: 'Arvo', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size-adjust: 0.2;
    font-size: 120px;
    text-align:center;
    margin-top: 25px;
    
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#eaf6ed, #46b071);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: linear-gradient(#eaf6ed, #46b071);
}

.user-greeting{
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.player{
    position: relative;
}

.search-bar{
    background: #333;
    border-radius: 5px;
    color: #eaf6ed;
}

.top-song-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.song-card{
    display: flex;
    gap: 1rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #333;
}

.track-title{
    color: #eaf6ed;
}

.track-artist{
    color: #95e2a8;
}